In [287]:
import pandas as pd

# Load the dataset
NP = pd.read_excel('/Users/ASUS/PyCharmMiscProject/efi_np_final.xlsx')
NP = NP.fillna("None")
NP.head(10
        )

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
0,4,Moderate/Severe,None,None,7,Neonates,None,True,False,False
1,4,Moderate/Severe,None,None,21,Neonates,None,True,False,False
2,4,Moderate/Severe,None,None,42,1-2 months,0.0,True,False,False
3,4,Moderate/Severe,None,None,56,1-2 months,14.0,False,True,False
4,4,Moderate/Severe,None,None,63,2+ months,21.0,False,True,False
5,4,Moderate/Severe,None,None,72,2+ months,30.0,False,False,True
6,4,Moderate/Severe,None,None,90,2+ months,48.0,False,False,True
7,4,Moderate/Severe,None,None,96,2+ months,54.0,False,False,True
8,4,Moderate/Severe,None,None,110,2+ months,68.0,False,False,True
9,6,Moderate/Severe,Strong,None,7,Neonates,None,True,False,False

In [288]:
NP.shape

(8723, 10)

In [289]:
NP.loc[NP["age_group"] == "None", "age_group"] = "2+ months"

In [290]:
# Unique subject IDs by age group
unique_counts = NP.groupby("age_group")["subject_id"].nunique()
print(unique_counts)

age_group
1-2 months    1287
2+ months     1298
Neonates      1316
Name: subject_id, dtype: int64

In [297]:
neonates = NP[NP["age_group"] == "Neonates"]

unvaccinated_ids = neonates.loc[neonates["Unvaccinated"] == 1, "subject_id"].nunique()
recently_vaccinated_ids = neonates.loc[neonates["Recently Vaccinated"] == 1, "subject_id"].nunique()
vaccinated_ids = neonates.loc[neonates["Vaccinated"] == 1, "subject_id"].nunique()

print("Unvaccinated IDs:", unvaccinated_ids)
print("Recently Vaccinated IDs:", recently_vaccinated_ids)
print("Vaccinated IDs:", vaccinated_ids)

Unvaccinated IDs: 1316
Recently Vaccinated IDs: 0
Vaccinated IDs: 0

In [299]:
one_two_months = NP[NP["age_group"] == "1-2 months"]

unvaccinated_ids1 = one_two_months.loc[one_two_months["Unvaccinated"] == 1, "subject_id"].nunique()
recently_vaccinated_ids1 = one_two_months.loc[one_two_months["Recently Vaccinated"] == 1, "subject_id"].nunique()
vaccinated_ids1 = one_two_months.loc[one_two_months["Vaccinated"] == 1, "subject_id"].nunique()

print("Unvaccinated IDs:", unvaccinated_ids1)
print("Recently Vaccinated IDs:", recently_vaccinated_ids1)
print("Vaccinated IDs:", vaccinated_ids1)

Unvaccinated IDs: 1285
Recently Vaccinated IDs: 729
Vaccinated IDs: 1

In [300]:
two_plus_months = NP[NP["age_group"] == "2+ months"]

unvaccinated_ids2 = two_plus_months.loc[two_plus_months["Unvaccinated"] == 1, "subject_id"].nunique()
recently_vaccinated_ids2 = two_plus_months.loc[two_plus_months["Recently Vaccinated"] == 1, "subject_id"].nunique()
vaccinated_ids2 = two_plus_months.loc[two_plus_months["Vaccinated"] == 1, "subject_id"].nunique()

print("Unvaccinated IDs:", unvaccinated_ids2)
print("Recently Vaccinated IDs:", recently_vaccinated_ids2)
print("Vaccinated IDs:", vaccinated_ids2)

Unvaccinated IDs: 197
Recently Vaccinated IDs: 477
Vaccinated IDs: 1178

In [291]:
none_subjects = NP[NP["age_group"] == "None"]
display(none_subjects)

Empty DataFrame
Columns: [subject_id, fsymptom, efi.strength, ct_mean, infant_age, age_group, days_since_first_wp, Unvaccinated, Recently Vaccinated, Vaccinated]
Index: []

In [292]:
subject15 = NP[NP["subject_id"] == 15].copy()
display(subject15)

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
52,15,None,Strong,None,8,Neonates,None,True,False,False
53,15,None,Strong,None,22,Neonates,None,True,False,False
54,15,None,Strong,None,42,1-2 months,0.0,True,False,False
55,15,None,Strong,None,57,1-2 months,15.0,False,True,False
56,15,None,Strong,44.047,74,2+ months,32.0,False,False,True
57,15,None,Strong,41.168,90,2+ months,48.0,False,False,True
58,15,None,Strong,42.969,105,2+ months,63.0,False,False,True

In [293]:
subject6 = NP[NP["subject_id"] == 6].copy()
display(subject6)

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
9,6,Moderate/Severe,Strong,None,7,Neonates,None,True,False,False
10,6,Moderate/Severe,Strong,None,21,Neonates,None,True,False,False
11,6,Moderate/Severe,Strong,None,42,1-2 months,0.0,True,False,False
12,6,Moderate/Severe,Strong,41.659,56,1-2 months,14.0,False,True,False
13,6,Moderate/Severe,Strong,44.209,70,2+ months,28.0,False,True,False
14,6,Moderate/Severe,Strong,None,77,2+ months,35.0,False,False,True
15,6,Moderate/Severe,Strong,None,84,2+ months,42.0,False,False,True
16,6,Moderate/Severe,Strong,41.451,100,2+ months,58.0,False,False,True

In [311]:
subject752 = NP[NP["subject_id"] == 752].copy()
display(subject752)

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
3773,752,Moderate/Severe,Strong,40.551,7,Neonates,None,True,False,False
3774,752,Moderate/Severe,Strong,29.321,26,Neonates,None,True,False,False
3775,752,Moderate/Severe,Strong,None,40,1-2 months,None,True,False,False
3776,752,Moderate/Severe,Strong,36.002,42,1-2 months,0.0,True,False,False
3777,752,Moderate/Severe,Strong,None,60,2+ months,18.0,False,True,False
3778,752,Moderate/Severe,Strong,43.247,75,2+ months,33.0,False,False,True
3779,752,Moderate/Severe,Strong,40.805,85,2+ months,43.0,False,False,True
3780,752,Moderate/Severe,Strong,43.186,90,2+ months,48.0,False,False,True
3781,752,Moderate/Severe,Strong,35.437,106,2+ months,64.0,False,False,True

In [246]:
# Separate by EFI category
none_df = NP[NP["efi.strength"] == "None"].copy()
strong_weak_df = NP[NP["efi.strength"] != "None"].copy()

In [247]:
# For EFI = None â†’ take the last entry per subject
none_last = (
    none_df.sort_values(by=["subject_id", "infant_age"])
    .groupby("subject_id", as_index=False)
    .last()
)

In [248]:
#take the first entry where ct is numeric
strong_weak_df["ct_mean"] = pd.to_numeric(strong_weak_df["ct_mean"], errors="coerce")

sw_first = (
    strong_weak_df[strong_weak_df["ct_mean"].notna()]
    .sort_values(by=["subject_id", "infant_age"])
    .groupby("subject_id", as_index=False)
    .first()
)
sw_first.head(10)

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
0,6,Moderate/Severe,Strong,41.659,56,1-2 months,14.0,False,True,False
1,15,None,Strong,44.047,74,2+ months,32.0,False,False,True
2,19,Minimal,Weak,44.002,106,2+ months,61.0,False,False,True
3,20,Minimal,Strong,44.285,58,1-2 months,14.0,False,True,False
4,26,Minimal,Weak,38.867,99,2+ months,47.0,False,False,True
5,32,Minimal,Weak,41.618,86,2+ months,44.0,False,False,True
6,35,None,Weak,41.634,6,Neonates,None,True,False,False
7,36,None,Weak,42.062,69,2+ months,28.0,False,True,False
8,44,Minimal,Weak,44.687,104,2+ months,62.0,False,False,True
9,45,None,Weak,44.621,76,2+ months,31.0,False,False,True

In [249]:
# Combine both
final = pd.concat([none_last, sw_first], ignore_index=True)
final = final.sort_values(by="subject_id").reset_index(drop=True)

In [250]:
print(f"Subjects processed: {final.shape[0]}")
display(final.head())

Subjects processed: 1320

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
0,4,Moderate/Severe,None,None,110,2+ months,68.0,False,False,True
1,6,Moderate/Severe,Strong,41.659,56,1-2 months,14.0,False,True,False
2,7,Moderate/Severe,None,None,105,2+ months,62.0,False,False,True
3,11,Minimal,None,None,110,2+ months,70.0,False,False,True
4,12,None,None,None,105,2+ months,63.0,False,False,True

In [301]:
efi_strong = final[final["efi.strength"] == "Strong"]

counts = {
    "Unvaccinated": efi_strong["Unvaccinated"].sum(),
    "Recently Vaccinated": efi_strong["Recently Vaccinated"].sum(),
    "Vaccinated": efi_strong["Vaccinated"].sum()
}

print(counts)

{'Unvaccinated': np.int64(119), 'Recently Vaccinated': np.int64(33), 'Vaccinated': np.int64(25)}

In [305]:
efi_weak_strong = final[final["efi.strength"].isin(["Weak", "Strong"])]

counts = {
    "Unvaccinated": efi_weak_strong["Unvaccinated"].sum(),
    "Recently Vaccinated": efi_weak_strong["Recently Vaccinated"].sum(),
    "Vaccinated": efi_weak_strong["Vaccinated"].sum()
}

print(counts)

{'Unvaccinated': np.int64(235), 'Recently Vaccinated': np.int64(76), 'Vaccinated': np.int64(143)}

In [304]:
efi_strong_minimal = final[
    (final["efi.strength"] == "Strong") &
    (final["fsymptom"] == "Minimal")
]

counts = {
    "Unvaccinated": efi_strong_minimal["Unvaccinated"].sum(),
    "Recently Vaccinated": efi_strong_minimal["Recently Vaccinated"].sum(),
    "Vaccinated": efi_strong_minimal["Vaccinated"].sum()
}

print(counts)

{'Unvaccinated': np.int64(61), 'Recently Vaccinated': np.int64(19), 'Vaccinated': np.int64(15)}

In [251]:
final['fsymptom'] = pd.Categorical(
    final['fsymptom'],
    categories=['None', 'Minimal', 'Moderate/Severe'],
    ordered=True
)
final['efi.strength'] = pd.Categorical(
    final['efi.strength'],
    categories=['None', 'Weak', 'Strong'],
    ordered=True
)

In [252]:
vaccinated_df = (
    final[final["Vaccinated"] == True])
vaccinated_df.shape

(884, 10)

In [253]:
table_vax = pd.crosstab(vaccinated_df["fsymptom"], vaccinated_df["efi.strength"], margins=True, margins_name='Sum')
print(table_vax)

efi.strength     None  Weak  Strong  Sum
fsymptom
None              365    32       6  403
Minimal           283    63      15  361
Moderate/Severe    93    23       4  120
Sum               741   118      25  884

In [254]:
rvaccinated_df = (
    final[final["Recently Vaccinated"] == True])
rvaccinated_df.shape

(152, 10)

In [255]:
table_recently = pd.crosstab(rvaccinated_df["fsymptom"], rvaccinated_df["efi.strength"], margins=True, margins_name='Sum')
print(table_recently)

efi.strength     None  Weak  Strong  Sum
fsymptom
None               53    17       6   76
Minimal            15    17      19   51
Moderate/Severe     8     9       8   25
Sum                76    43      33  152

In [256]:
unvaccinated_df = (
    final[final["Unvaccinated"] == True])
unvaccinated_df.shape

(284, 10)

In [257]:
table_unvax = pd.crosstab(unvaccinated_df["fsymptom"], unvaccinated_df["efi.strength"], margins=True, margins_name='Sum')
print(table_unvax)

efi.strength     None  Weak  Strong  Sum
fsymptom
None               28    44      29  101
Minimal            14    48      61  123
Moderate/Severe     7    24      29   60
Sum                49   116     119  284

In [258]:
# Sort by age_group
final_age = final.sort_values(by="infant_age").reset_index(drop=True)
final_age.head()

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
0,753,Minimal,Weak,44.373,5,Neonates,None,True,False,False
1,369,Moderate/Severe,Strong,44.303,5,Neonates,None,True,False,False
2,1442,None,Weak,43.037,5,Neonates,None,True,False,False
3,835,Minimal,Weak,43.642,5,Neonates,None,True,False,False
4,649,Minimal,Strong,44.173,5,Neonates,None,True,False,False

In [259]:
final_age.tail()

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
1315,91,Moderate/Severe,Weak,37.057,120,2+ months,77.0,False,False,True
1316,400,None,None,None,122,2+ months,77.0,False,False,True
1317,134,Minimal,None,None,122,2+ months,78.0,False,False,True
1318,1454,Minimal,None,None,123,None,49.0,False,False,True
1319,1015,None,None,None,123,None,81.0,False,False,True

In [260]:
final_age.loc[final_age["age_group"].isna(), "age_group"] = "2+ months"

In [261]:
# Create separate DataFrames
neonates_df = final[final["age_group"] == "Neonates"].copy()
one_two_df = final[final["age_group"] == "1-2 months"].copy()
two_plus_df = final[final["age_group"] == "2+ months"].copy()

print(f"Neonates: {neonates_df.shape[0]}")
print(f"1-2 months: {one_two_df.shape[0]}")
print(f"2+ months: {two_plus_df.shape[0]}")

Neonates: 118
1-2 months: 163
2+ months: 1037

In [262]:
# pmd1 = EFI Weak + Strong
pmd1 = final[final["efi.strength"].isin(["Weak", "Strong"])].copy()
pmd1 = pmd1.sort_values(by="infant_age").reset_index(drop=True)
pmd1.index = pmd1.index + 1

In [263]:
pmd1.head()

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
1,649,Minimal,Strong,44.173,5,Neonates,None,True,False,False
2,429,None,Strong,44.771,5,Neonates,None,True,False,False
3,753,Minimal,Weak,44.373,5,Neonates,None,True,False,False
4,835,Minimal,Weak,43.642,5,Neonates,None,True,False,False
5,389,None,Strong,42.852,5,Neonates,None,True,False,False

In [264]:
pmd1.to_excel("pmd1.xlsx", index=True)

In [265]:
# pmd3 = EFI Strong only
pmd3 = final[final["efi.strength"] == "Strong"].copy()
pmd3 = pmd3.sort_values(by="infant_age").reset_index(drop=True)
pmd3.head(10)

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,Unvaccinated,Recently Vaccinated,Vaccinated
0,429,None,Strong,44.771,5,Neonates,None,True,False,False
1,649,Minimal,Strong,44.173,5,Neonates,None,True,False,False
2,868,Minimal,Strong,41.735,5,Neonates,None,True,False,False
3,369,Moderate/Severe,Strong,44.303,5,Neonates,None,True,False,False
4,389,None,Strong,42.852,5,Neonates,None,True,False,False
5,537,None,Strong,43.022,6,Neonates,None,True,False,False
6,685,Minimal,Strong,44.663,6,Neonates,None,True,False,False
7,367,Moderate/Severe,Strong,43.741,6,Neonates,None,True,False,False
8,518,Minimal,Strong,44.397,6,Neonates,None,True,False,False
9,646,Minimal,Strong,43.442,6,Neonates,None,True,False,False

In [266]:
pmd3.to_excel("pmd3.xlsx", index=False)

In [308]:
# Extract only infants older than 2 months
pmd3_2plus = pmd3[pmd3["age_group"] == "2+ months"].copy()

# Create a single vaccination status column
def get_vaccination_status(row):
    if row["Vaccinated"]:
        return "Vaccinated"
    elif row["Recently Vaccinated"]:
        return "Recently Vaccinated"
    elif row["Unvaccinated"]:
        return "Unvaccinated"
    else:
        return "Unknown"

pmd3_2plus["vaccination_status"] = pmd3_2plus.apply(get_vaccination_status, axis=1)

# Drop old vaccination columns
pmd3_2plus = pmd3_2plus.drop(columns=["Unvaccinated", "Recently Vaccinated", "Vaccinated"])

# Preview
pmd3_2plus.head()

,subject_id,fsymptom,efi.strength,ct_mean,infant_age,age_group,days_since_first_wp,vaccination_status
133,482,Moderate/Severe,Strong,41.242,60,2+ months,18.0,Recently Vaccinated
134,1089,Minimal,Strong,42.187,60,2+ months,18.0,Recently Vaccinated
135,72,Minimal,Strong,44.711,60,2+ months,None,Unvaccinated
136,627,Moderate/Severe,Strong,37.884,61,2+ months,17.0,Recently Vaccinated
137,476,Moderate/Severe,Strong,41.736,61,2+ months,19.0,Recently Vaccinated

In [310]:
# Create a clean index for the filtered dataset
pmd3_2plus.reset_index(drop=True, inplace=True)
pmd3_2plus.index = pmd3_2plus.index + 1
# Save to Excel with the new index
pmd3_2plus.to_excel("pmd3_2plus.xlsx", index=True)

In [267]:
# Get the actual DataFrame, not just the count
neonates_pmd3 = pmd3[pmd3["age_group"] == "Neonates"].copy()
print(f"Number of neonates: {neonates_pmd3.shape[0]}")

# Count vaccine status
neonatesvax_pmd3 = {
    "Unvaccinated": neonates_pmd3["Unvaccinated"].sum(),
    "Recently Vaccinated": neonates_pmd3["Recently Vaccinated"].sum(),
    "Vaccinated": neonates_pmd3["Vaccinated"].sum()
}

print("Neonates per vaccine status:")
for k, v in neonatesvax_pmd3.items():
    print(f"{k}: {v}")

Number of neonates: 63
Neonates per vaccine status:
Unvaccinated: 63
Recently Vaccinated: 0
Vaccinated: 0

In [268]:
onetwo_pmd3 = pmd3[pmd3["age_group"] == "1-2 months"].copy()
print(f"Number of 1â€“2 month olds: {onetwo_pmd3.shape[0]}")

# Count vaccine status
onetwovax_pmd3 = {
    "Unvaccinated": onetwo_pmd3["Unvaccinated"].sum(),
    "Recently Vaccinated": onetwo_pmd3["Recently Vaccinated"].sum(),
    "Vaccinated": onetwo_pmd3["Vaccinated"].sum()
}

print("1â€“2 month olds per vaccine status:")
for k, v in onetwovax_pmd3.items():
    print(f"{k}: {v}")

Number of 1â€“2 month olds: 70
1â€“2 month olds per vaccine status:
Unvaccinated: 50
Recently Vaccinated: 20
Vaccinated: 0

In [269]:
twoplus_pmd3 = pmd3[pmd3["age_group"] == "2+ months"].copy()
print(f"Number of 2+ month olds: {twoplus_pmd3.shape[0]}")

# Count vaccine status
twoplusvax_pmd3 = {
    "Unvaccinated": twoplus_pmd3["Unvaccinated"].sum(),
    "Recently Vaccinated": twoplus_pmd3["Recently Vaccinated"].sum(),
    "Vaccinated": twoplus_pmd3["Vaccinated"].sum()
}

print("2+ month olds per vaccine status:")
for k, v in twoplusvax_pmd3.items():
    print(f"{k}: {v}")

Number of 2+ month olds: 44
2+ month olds per vaccine status:
Unvaccinated: 6
Recently Vaccinated: 13
Vaccinated: 25

In [270]:
age_table = pd.DataFrame({
    "Unvaccinated": [
        neonates_pmd3["Unvaccinated"].sum(),
        onetwo_pmd3["Unvaccinated"].sum(),
        twoplus_pmd3["Unvaccinated"].sum()
    ],
    "Recently Vaccinated": [
        neonates_pmd3["Recently Vaccinated"].sum(),
        onetwo_pmd3["Recently Vaccinated"].sum(),
        twoplus_pmd3["Recently Vaccinated"].sum()
    ],
    "Vaccinated": [
        neonates_pmd3["Vaccinated"].sum(),
        onetwo_pmd3["Vaccinated"].sum(),
        twoplus_pmd3["Vaccinated"].sum()
    ]
}, index=["Neonates", "1â€“2 months", "2+ months"])

# Add sum column
age_table["Total"] = age_table.sum(axis=1)

print("age of first infection by vaccine status:")
display(age_table)

age of first infection by vaccine status:

            Unvaccinated  Recently Vaccinated  Vaccinated  Total
Neonates              63                    0           0     63
1â€“2 months            50                   20           0     70
2+ months              6                   13          25     44

In [271]:
# Total number of first infections
n_total = 177

# Calculate proportions
age_prop = (age_table / n_total * 100).round(1)

print("Proportion (%) of first infections by age group and vaccine status:")
display(age_prop)

Proportion (%) of first infections by age group and vaccine status:

            Unvaccinated  Recently Vaccinated  Vaccinated  Total
Neonates            35.6                  0.0         0.0   35.6
1â€“2 months          28.2                 11.3         0.0   39.5
2+ months            3.4                  7.3        14.1   24.9

In [272]:
age_prop_combined = age_table.copy()
for col in age_table.columns:
    age_prop_combined[col] = (
        age_table[col].astype(str) + " (" + (age_table[col] / n_total * 100).round(1).astype(str) + "%)"
    )

print("First infection by age group and vaccine status (count and %):")
display(age_prop_combined)

First infection by age group and vaccine status (count and %):

           Unvaccinated Recently Vaccinated  Vaccinated       Total
Neonates     63 (35.6%)            0 (0.0%)    0 (0.0%)  63 (35.6%)
1â€“2 months   50 (28.2%)          20 (11.3%)    0 (0.0%)  70 (39.5%)
2+ months      6 (3.4%)           13 (7.3%)  25 (14.1%)  44 (24.9%)

In [273]:
sample = pd.read_csv("/Users/ASUS/Desktop/Pertussis data analysis/np.csv")
sample.head()

,subject_id,parent,sample_barcode,ct_mean,ct.detect,ct.cut,type,date,infant_age,wp,nose,cough,sick.bad,abx.any
0,4,False,89,NA,False,N.D.,baseline,2015-03-03,7,False,False,False,False,NaN
1,4,False,283,NA,False,N.D.,1=SCHEDULED,2015-03-17,21,False,False,False,False,False
2,4,False,807,NA,False,N.D.,1=SCHEDULED,2015-04-07,42,True,False,True,True,True
3,4,False,1343,NA,False,N.D.,1=SCHEDULED,2015-04-21,56,False,True,False,False,False
4,4,False,1700,NA,False,N.D.,2=UNSCHEDULED,2015-04-28,63,False,True,True,False,True